body{
	text-align: center;
}

#message {
	color: red;
    font-size: 40;
    margin-top: 15;
    background-color: black;
}

button {
    font-size: 24;
    padding: 10px 40px;
    background-color: cornflowerblue;
}   

html {
	background-color: skyblue;
}
